@import './variables.scss';

.About {
  background-attachment: fixed;
  .about {
    color: rgb(58, 58, 58);
    min-height: 700px;
    padding: 80px 0px 80px 0px;
    background: rgb(255, 255, 255);

    .row {
      width: 100%;
      margin: 0px;
    }

    span {
      font-family: $ff3;
      letter-spacing: 0;
    }

    .drone {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
}