@import './variables.scss';

.Footer {
  background: rgb(39, 39, 39);
  padding-top: 60px;

  .footer {

    p {
      padding-top: 60px;
      font-family: $ff2;
      color: white;
      font-size: 12px;

      span {
        font-family: $ff3;
        font-size: 11px;
      }
    }

  }
}