.HomePage {

  .vidUp {
    .vid1 {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
  
  .vidCenter {
    .vid2 {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
}