@import './variables.scss';

.Shop {
  background-color: rgb(247, 249, 250);
  min-height: 700px;
  padding: 80px 0 80px 0;
  color: rgb(58, 58, 58);

  .drone {
    max-width: 380px;
    margin: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      box-shadow: 5px 5px 12px -14px rgba(0, 0, 0, 0.75);

      .card-img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }


    .card-img {
      width: 100%;
      height: 200px;
      padding: 40px;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .7s ease-in-out;
      transition: .7s ease-in-out;
    }

    .card-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 40px;
      font-size: 20px;
      font-family: $ff3;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-text {
      font-family: $ff2;
      font-size: 20px;
      text-align: left;
      margin: 40px 20px 40px 20px;

      svg {
        margin-right: 40px;
      }
    }

    button {
      width: 100px;
      margin-bottom: 20px;
      background: linear-gradient(145deg, #2b8a7e, #33a496);
      font-family: $ff2;
      border: none;
      cursor: pointer;

      &:hover {
        box-shadow: inset 15px 15px 30px #19514a,
          inset -15px -15px 30px #47e1ce;
      }
    }
  }
}