@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Orbitron&display=swap');

$ff2: 'Maven Pro',
sans-serif;
$ff3: 'Orbitron',
sans-serif;

h1 {
  font-family: $ff3;
  padding-top: 8px;
  padding-bottom: 80px;
  letter-spacing: 2px;
}

p {
  font-size: 20px;
  letter-spacing: 2px;
}